// bower:scss
// endbower

body {
  margin:0;
  background: #fafafa;
  font: {
    family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    size: 16px;
  }
  color: #333;

}
h2 {
  font: {
    size: 2rem;
  };
  text-transform: uppercase;
}
$p-color: #86878b;
p {
  color: $p-color;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
%flex {
  display: flex;
}
.b-testimonals {
  @extend %flex;
  flex-direction: column;
  align-items: center;
}
//Полоска
$strip: 80px;
.e-strip {
  width: $strip;
  border-top: 2px solid #000000;
}
.m-strip-orange {
  border: {
    color: #ff8b38;
  }
}
.m-strip-white {
  border: {
    color: #ffffff;
  }
}
// Компонент клиентов
.c-customer {
  @extend %flex;
  flex-direction: row;
}
//Блок с клиентами
.b-customers {
  @extend %flex;
  flex-direction: column;
  width: 300px;
  margin: 30px;

}
%bg-contain {
  background: {
    size: contain;
    position: center;
    repeat: no-repeat;
  }
}
.e-desc {
  @extend %bg-contain;
  background-image: url("../images/bg_text.png");
  //width: 100%;
  padding: 5px 10px 20px;

}

.b-customer {
  @extend %flex;
  flex-direction: row;
  margin-top: 5px;
}
.e-customer--logo {
  height: 100%;
}
.e-customer--text {
  h3 {
    margin:0.4rem 1rem;
  }
  p {
    margin:0.1rem 1rem;
  }
}

// Custom section
.b-customsection {
  @extend %flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: {
    image: url("../images/bg_axure 2.jpg");
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  padding: 50px;
  height: 300px;
  h2 {
    color: #ffffff;
  }
}
.e-btn {
  border: 3px solid #ffffff;
  width: 170px;
  height: 50px;


  p {
    color: #ffffff;
    font: {
      size: 1.2rem;
    };
    text-align: center;
    margin-top: 12px;

  }
}